<!-- Status Submit Form-->
<div class="card">
  <div class="card-header">
    Share Your Feelings
  </div>
  <div class="card-body">
    <div *ngIf="isError" class="alert alert-danger" role="alert">
      {{buttonLabel}} failed.
    </div>
    <div *ngIf="isSuccess" class="alert alert-success" role="alert">
      {{buttonLabel}} successfull.
    </div>
    <form  [formGroup]="postStatus">
      <div>
        <textarea class="form-control" formControlName="statusBody" rows="3"></textarea>
      </div>
      <div class="label-of-field">
        <label>Choose Privacy</label><br>

        <input type="radio" id="html" formControlName="postPrivecy" name="postPrivecy" value="PRIVATE">
        <label for="html">Private</label><br>
        <input type="radio" id="css" formControlName="postPrivecy" name="postPrivecy" value="PUBLIC">
        <label for="css">Public</label><br>

      </div>
      <!-- Check In Drop Down-->
      <div>
        <label class="label-of-field">Check In</label>
        <select class="form-control" formControlName="location">
          <option selected>Open this select menu</option>
          <option *ngFor="let item of locationList" [value]="item.location">{{item.location}}</option>
        </select>
      </div>
      <button type="button" (click)="onSubmit(this.buttonLabel)"
              class="btn btn-primary label-of-field">{{buttonLabel}}</button>
    </form>
  </div>
</div>
